---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact — victoria løkke" current="contact">
  <div class="flex h-full justify-center">
    <a href="mailto:victoria.loekke@hotmail.com">
      <!-- LIGHT -->
      <img
        src="/images/visitkort.jpg"
        class="card-light sm:h-100 md:h-150"
        alt="cards"
        loading="lazy"
      />

      <!-- DARK -->
      <img
        src="/images/visitkort-dark.png"
        class="card-dark sm:h-100 md:h-150"
        alt="cards"
        loading="lazy"
      />
    </a>
  </div>
</Layout>

<style>
  .card-dark {
    display: none;
  }

  html.dark .card-light {
    display: none;
  }

  html.dark .card-dark {
    display: block;
  }
</style>
