---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home — Victoria Løkke" current="home">
  <main>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    
    <section class="light"></section>
<section class="dark"></section>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>
    <h1>Hej 👋</h1>
    <p>Her er min portfolio. (Kort intro)</p>
    <p><a href="/projects">Se mine projekter →</a></p>

  </main>
</Layout>

<style>
  section {
  height: 100vh;
}

.light {
  background: white;
}

.dark {
  background: black;
}
</style>