---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Victoria Løkke" current="home">


  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
    <div class="text-mask">
      <h1>VICTORIAS</h1>
    </div>

    <div class="text-mask">
      <h2>Portfolio</h2>
    </div>
  </div>

  <div
    class="info absolute top-1/2 left-1/2 z-1000 -translate-x-1/2 -translate-y-1/2 text-center"
  >
    <p>
      coded designer<br />
      front-end developer<br />
      copenhagen based
    </p>
  </div>
  <div class="year">2026</div>
</Layout>

<style>
  
  .text-mask {
    background-image: url("/images/privat/1.jpg");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;

    filter: blur(1px) contrast(120%) saturate(120%);
  }

  .text-mask h1 {
    font-family: "Anton", sans-serif;
    font-size: 18vw;
    line-height: 0.9;
    letter-spacing: -0.02em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }

  .text-mask h2 {
    font-family: "Monsieur", cursive;
    font-size: 14vw;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
  }

  .info p {
    font-family: "Arial Narrow", sans-serif;
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -0.04em;
  }

  .year {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: clamp(0.9rem, 1vw + 0.4rem, 1.2rem);
    font-weight: 900;
    z-index: 20;
  }

  /* MOBILE */

  @media (max-width: 768px) {
    .top-mask {
      top: 4vw;
    }

    .top-mask h1 {
      font-size: 24vw;
      line-height: 0.9;
    }

    .bottom-mask {
      bottom: 8vw;
    }

    .bottom-mask h2 {
      font-size: 22vw;
    }
  }
</style>
