---
import Layout from "../layouts/Layout.astro";
import ProjectCardGrid from "../components/ProjectCardGrid.astro";
import ProjectCardPhone from "../components/ProjectCardPhone.astro";
import { projects } from "../data/projects.js";
import ProjectCardFull from "../components/ProjectCardFull.astro";
import ProjectCardList from "../components/ProjectCardList.astro";
import ProjectCardFeed from "../components/ProjectCardFeed.astro";
---

<Layout title="Projects — Victoria Løkke" current="projects">
  <div class="hidden lg:block">
    <div id="filterBar">
      <button data-view="grid">Grid</button>
      <a>/</a>
      <button data-view="list">List</button>
       <a>/</a>
      <button data-view="feed">Feed</button>
    </div>

    <div id="views">
      <div data-layout="grid">
        <div
          class="grid grid-cols-2 gap-4 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4"
        >
          {projects.map((project) => <ProjectCardGrid project={project} />)}
        </div>
      </div>

      <div data-layout="list" class="hidden">
        <div class="flex flex-col">
          {projects.map((project) => <ProjectCardList project={project} />)}
        </div>
      </div>

        <div data-layout="feed" class="hidden">
        <div class="mx-auto grid w-180 grid-cols-1 gap-6">
          {projects.map((project) => <ProjectCardFeed project={project} />)}
        </div>
      </div>


    </div>
  </div>

  <button id="toTopBtn" class="to-top hidden"> To top </button>

  <div class="lg:hidden">
    <div class="md:grid md:grid-cols-[1fr_1fr] md:gap-4">
      {projects.map((project) => <ProjectCardPhone project={project} />)}
    </div>
  </div>

  <script>
    import "../scripts/projects.js";
  </script>
</Layout>
