---
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title = "Portfolio", current = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Monsieur+La+Doulaise&display=swap"
      rel="stylesheet"
    />

    <script is:inline>
      const isMobile = window.innerWidth < 768;

      if (!isMobile && localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>

  <body class="p-5 pt-19 lg:p-6 lg:pt-25 2xl:p-8 2xl:pt-30">
    <Header current={current} />

    <slot />
  </body>
</html>
